@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";

}

@model Periodical


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2>Catalog - @ViewData["Title"]</h2>

    </div>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

    <div class="row">

        <div class="col-lg-8 entries">

        <article class="entry entry-single">

            <div class="mb-4">
                <p>
                    Благодарим за размещение заказа!
                </p>
            </div>

            <div class="entry-content">
          

            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">На главную страницу</a>

            </div>
        </article><!-- End blog entry -->



            

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

        <div class="sidebar">

            <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                @{
                    ListViewModel categoriesthis = new ListViewModel
                    {
                        categoriesToPage = ViewBag.Categories
                    };
                }
               <partial name="CategoriesList" model=categoriesthis />


            </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Single Section -->

