@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}


<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>@ViewData["Title"]</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row mt-1">

          <div class="col-lg-4">

                <h4>Location:</h4>
                <p>Green Street, 12, Utopia city, Uto 000005, UAC</p>

                <h4>Email:</h4>
                <p>info@utomagazine.com</p>

                <h4>Call:</h4>
                <p>+008 333 111-23-44</p>

          </div>

          <div class="col-lg-8">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс Карты</a><a href="https://yandex.kz/maps/?feedback=map%2Fedit&feedback-context=map.context&ll=2.841310%2C39.620878&utm_medium=mapframe&utm_source=maps&z=15.99" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUJBBqWPD" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->